This file is part of stock-ticker,
a simple Binance stock-ticker app for the command line:
https://gitlab.com/lemberger/stock-ticker

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
